h1{
    color: orange;
    background-color: green;
    text-align: center;
}
body{
   background-color: bisque; 
}
p{
    text-align: justify;
    width: fit-content;
}
.center{
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.foto{
    background-color: green;
}
.foto img{
    width: 23%;
}
.cod{
    margin: auto;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
.cod p {
    background-color: green;
    border: 3px dotted yellowgreen;
    text-align: center;
    font-weight: bold;
    color: orange;
}